<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>InterviewGrade</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>pkg.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addStu</servlet-name>
    <servlet-class>pkg.addStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editStu</servlet-name>
    <servlet-class>pkg.editStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteStu</servlet-name>
    <servlet-class>pkg.deleteStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectStu</servlet-name>
    <servlet-class>pkg.selectStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addTeacher</servlet-name>
    <servlet-class>pkg.addTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editTeacher</servlet-name>
    <servlet-class>pkg.editTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteTeacher</servlet-name>
    <servlet-class>pkg.deleteTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectTeacher</servlet-name>
    <servlet-class>pkg.selectTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addTest</servlet-name>
    <servlet-class>pkg.addTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addClass</servlet-name>
    <servlet-class>pkg.addClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteClass</servlet-name>
    <servlet-class>pkg.deleteClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteTest</servlet-name>
    <servlet-class>pkg.deleteTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectClass</servlet-name>
    <servlet-class>pkg.selectClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectTest</servlet-name>
    <servlet-class>pkg.selectTest</servlet-class>
  </servlet>
</web-app>